@import url('https://fonts.googleapis.com/css?family=Arvo');

body{
    background-size: 100%;
    background: black;  /*#D3D3D3*/
    font-family: 'Arvo', serif;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}
#title{
    animation: 2s ease 0s normal forwards 1 fadein;
}
#inner1 h1{
    font-family: 'Arvo', serif;
    z-index: 1;
    top:40%;
    margin: 0 auto;
    position: absolute;
    left:0;
    right:0;
    color: white;
}
.container{
    color: #fff;
    font-family: 'Arvo', serif;
    text-align: center;
    overflow: hidden;
    padding-bottom: 200px;
}
.container ul{
    display: inline-block;
    text-align: left
}
.header h2 {
    font-size: 60px;
}
@media only screen and (max-width: 666px) {
    .header h2 {
        font-size: 38px;
    }

}
.header{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 30px;
    letter-spacing: 8px;
    font: 300 115px 'Intro-Inline',sans-serif;
        font-stretch: 100%;
        font-weight: 100;
        font-size: 115px;
        font-family: Intro-Inline, sans-serif;
    text-shadow: 0 0 5px #00b6de, 0 0 10px #00b6de, 0 0 15px #00b6de, 0 0 20px #00b6de, 0 0 25px #00b6de, 0 0 15px #000;
}
.header h2:before, h2:after {
    background-color: #00b6de;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.header h2:before {
    right: 0.15em;
    margin-left: -50%;
}
.header h2:after {
    left: 0.0em;
    margin-right: -50%;
}

/*style for social links*/
ul.social-network.social-circle{
    text-align: center;
    -webkit-padding-start: 0px;
}
ul.social-network li {
    display: inline;
    text-align: center;
    margin: 10px;
}
.social-circle li a {
    display:inline-block;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    width: 50px;
    height: 50px;
    font-size:17px;
}
.social-circle li i {
    line-height:50px;
}
.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: black;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}
.social-circle a {
    background-color: #fff;
    text-decoration: none;
    color: #82484d; /*#65383c*/
    /*opacity: .7;*/
}
.social-circle a:hover {
    background-color: #D3D3D3;
    text-decoration: none;
    color: #82484d;
}


/*relevant courses table*/
th, td {
    padding: 5px 5px 20px 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 1.0em;
}
li {
    text-align: center;
    font-size: 1.1em;

}
ul {
    list-style-type: none;
}


/*grid style for projectsGrid*/
#projectsGrid {
    margin-top: 50px;
    margin-left: 8px;
    position: relative;
    max-width: 100%;
    width: 100%;
}

#projectsGrid img {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-bottom: 5px;
}

.white-panel {
    color: black;
    border-radius: 3px;
    position: absolute;
    background: white;
    box-shadow: 1px 3px 6px rgba(0,0,0,0.3);
    padding: 5px;
}

.white-panel h4 {
    font-size: 1.5em;
    font-weight: bold;
}

.white-panel h4 a {
    color: #82484d;
    text-shadow: 1px 1px  1px black;
    text-decoration: none;
}

.white-panel:hover {
box-shadow: 4px 4px 20px rgba(0,0,0,0.5);
margin-top: -13px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.list-group {
    width: 200px;
}




/*NAV BAR*/
#nav {
    width: 100%;
    height: 50px;
    background-color: #000000e8;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    padding: 7px 0px 7px 0px;
}


#navlist {
    list-style: none;
}

#navlist li {
    float: left;
    margin-right: 8px;
    font-size: 20px;
    vertical-align: center;
}

#navlist li a {
    color: #82484d;
    /*text-shadow: 0px 0px 0.01px white;*/
    text-decoration: none;
    font-weight: 500;
}

#navlist li a:hover {
    opacity: 1;
    color: white;
}

.list-group {
    color: black;
}


.container span{
    color: black;
    text-transform: uppercase;
    border: 1px solid #82484d;
    margin: 5px;
    display: inline-block;
    font-size: 10px;
    padding: 4px 8px 4px 8px;
    border-radius: 6px;
}
